<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container>        
        <register type="My_MsgPubSub_byRedis.IPubSub,My_MsgPubSub_byRedis" mapTo="My_MsgPubSub_byRedis.PubSubRedisProvider,My_MsgPubSub_byRedis"></register>
      </container>
    </containers>
  </unity>
</configuration>